*{outline: none!important;}
body {overflow-x: hidden; font-family: 'Poppins', sans-serif;background-color: #F6F6F6;}
input[type="text"]:focus, textarea:focus, input[type="password"]:focus, select:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="tel"]:focus, input[type="number"]:focus {transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;outline:none;}
select, input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], textarea, input[type="tel"] {/*-webkit-appearance: none;-moz-appearance: none;appearance: none;*/}
a{text-decoration: none;color: #000;}



h1,h2,h3,h4,h5,h6,p{margin:0;padding: 0;}

h3{font-size: 34px;}
h4{font-size: 24px;}

/* HEADER START */

.topBarSec {display: flex;align-items: center;padding: 1rem;background-color: #fff;}

.topBarSocialIcons {
    text-align: center;
}

.topBarIcons {
    text-align: end;
    margin-right: 5rem;
}

.topBarLogo {
    text-align: left;
    margin-left: 5rem;
}

.topBarSec .fa {
    font-size: 20px;
    margin: 0 10px;
}

.navbar {
    background-color: #fff !important;
}

.centernav {
    display: flex;
    justify-content: center;
}

.centernav li {
    margin: 0 1rem;
    font-size: 24px;
}

.dropdown .btn {
    background: none;
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 24px;
    border: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

/* HEADER END */

/* BANNER SECTION START */

.bannerContent h1 {
    font-size: 48px;
    margin-bottom: 18px;
    color: #fff;
}

.bannerContent p {
    font-size: 16px;
    margin-bottom: 26px;
    color: #fff;
}

.bannerContent .btn {
    font-size: 20px;
    font-weight: 600;
    padding: 11px 27px;
    border: 2px solid #ffffff52;
    background: transparent;
    color: #fff;
    border-radius: 30px;
}

.bannerSec{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 70vh;
}

.bannerSec .container {
    height: 100%;
}

.bannerSec .row {
    height: 100%;
    align-items: center;
}

/* BANNER SECTION END */

/* PRODUCT CATEGORY SECTION START */

.productCategory {
    position: relative;
}

.productContent {
    position: absolute;
    top: 8%;
    left: 6%;
}

.productContent h3 {
    margin-bottom: 19px;
    line-height: 1.5;
    color: #fff;
}

.productContent h4 {
    font-size: 20px;
    margin-bottom: 22px;
    color: #fff;
}

.productContent .btn {padding: 7px 23px;background: #00000033;border: none;font-size: 14px;border-radius: 20px;font-weight: bold;}

.bestSeller {
    position: relative;
}

.bestSellerContent {
    position: absolute;
    left: 12%;
    bottom: 17%;
    color: #000;
}

.bestSellerContent h3 {
    margin-top: 16px;
}

.dressesContent .btn {
    background: #00000052;
    border: none;
    padding: 7px 22px;
    border-radius: 15px;
    margin-bottom: 73px;
}

.dressesContent {
    color: #fff;
    position: absolute;
    top: 11%;
    left: 10%;
}

.Dresses {
    position: relative;
}

.denimJackets {
    margin-top: 24px;
    position: relative;
}

.denimJacketContent {
    position: absolute;
    top: 12%;
    color: #fff;
    left: 9%;
}

.denimJacketContent .btn {
    border: none;
    padding: 7px 22px;
    background-color: #ffffff47;
    border-radius: 15px;
    margin-bottom: 73px;
}

.denimJacketContent h3 {
    width: 150%;
}

/* PRODUCT CATEGORY SECTION END */

/* PRODUCTS SLIDER START */

.products {
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products img {
    height: 138px;
    margin-bottom: 30px;
}

.products h4 {
    font-size: 25px;
    font-weight: 600;
}

.productsSlider {
    background: #fff;
}

.left_arrow{
    position: absolute;
    top: 42%;
    left: -20px;
    font-size: 25px;
    height: 35px;
    width: 35px;
    background-color: pink;
    color: #fff;
    border-radius: 50%;
    z-index: 99;
    text-align: center;
    line-height: 1.3;
    border: 2px solid #fff;
}

.right_arrow{
    position: absolute;
    top: 42%;
    right: -20px;
    font-size: 25px;
    height: 35px;
    width: 35px;
    background-color: pink;
    color: #fff;
    border-radius: 50%;
    z-index: 99;
    text-align: center;
    line-height: 1.3;
    border: 2px solid #fff;
}

.productsCoursel .slick-dots{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.productsCoursel .slick-dots li{
    display: inline-block;
    margin: 0 12px;
}

.productsCoursel .slick-dots li button{
    font-size: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #000;
}

.productsCoursel .slick-dots .slick-active button {
    background: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

/* PRODUCTS SLIDER END */

/* CARD SECTION START */

.cardBody {height: 580px;background-color: #fff;border-radius: 16px;}

.cardImg img {
    width: 100%;
}

.cardContent h3 {
    margin-top: 24px;
    margin-bottom: 12px;
}

.cardButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

span.dollar {
    font-size: 24px;
}

.cardButton .btn {
    border: 2px solid #EDA3B5;
    color: #EDA3B5;
    padding: 9px 25px;
    border-radius: 35px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 67px;
}

.cardContent p {
    font-size: 16px;
    margin-bottom: 32px;
}

.cardContent {
    padding: 1rem;
}

.cardButton .btn:hover {
    background: #EDA3B5;
    color: #fff;
}

.cardsSec h2 {
    font-size: 34px;
    margin-bottom: 32px;
}

.left_Arrow{
    position: absolute;
    top: -12%;
    right: 21%;
    font-size: 25px;
    height: 35px;
    width: 35px;
    background-color: #fff;
    color: #b5b5b5;
    border-radius: 15%;
    z-index: 99;
    text-align: center;
    line-height: 1.3;
    border: 2px solid #fff;
}

.right_Arrow{
    position: absolute;
    top: -12%;
    right: 4%;
    font-size: 25px;
    height: 35px;
    width: 35px;
    background-color: #fff;
    color: #b5b5b5;
    border-radius: 15%;
    z-index: 99;
    text-align: center;
    line-height: 1.3;
    border: 2px solid #fff;
}

.cardsSec .slick-dots{
    position: absolute;
    top: -13%;
    left: 81%;
    height: fit-content;
}

.cardsSec .slick-dots li{
    display: inline-block;
    margin: 0 12px;
}

.cardsSec .slick-dots li button{
    font-size: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #000;
}

.cardsSec .slick-dots .slick-active button {
    background: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

/* CARD SECTION END */


/* FOOTER SECTION START */

.footercol1 img {
    margin-bottom: 27px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sectionFooter h4 {
    margin-bottom: 24px;
}

li {
    line-height: 2;
}

.head {
    display: flex;
}

.head ul {display: flex;gap: 5rem;font-size: 24px;margin-bottom: 1rem;}

.head {
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.head ul li a:active,.head ul li a:hover {
    text-decoration: line-through;
    color: inherit;
}

.sectionFooter {
    background-color: #fff;
}

.sectionFooter .row {
    margin-top: 2rem;
}

.flexFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexFooter ul {
    display: flex;
    gap: 3rem;
}

.flexFooter ul li a {
    font-size: 24px;
}

.footerbottom {
    background-color: #EFEFF4;
    padding: 0.7rem 0;
    margin-top: 1rem;
}

/* FOOTER SECTION END */


**********************/* INDEX PAGE END */***********************


**********************/* SHOPPING PAGE START */***********************

/* TOP BAR START */

/* .sectionHead .row .list{
    display: flex !important;
    gap: 2rem !important;
    flex-direction: row !important; 

} */




.form-control {
    width: 170px !important;
    height: 44px !important;
}

.form-group label {
    font-size: 16px;
}

.sizesbox{
    appearance: none;
    -webkit-appearance: none;
    height: 44px;
    position: relative;
    width: 68px;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #E5E5EA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizesbox:checked{
    background-color: pink;
    border: none;
}

.sizesbox:checked:after{
color: #fff;
border: none;
}

.xlarge:after{
    content: "XS";
    font-weight: 600;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.small:after{
    content: "S";
    font-weight: 600;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.large:after{
    content: "L";
    font-weight: 600;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.sizecheckbox {
    display: flex;
    gap: 1rem;
}

.label {
    display: flex;
    justify-content: space-between;
}

.colorbox{
    appearance: none;
    -webkit-appearance: none;
    height: 24px;
    position: relative;
    width: 24px;
    border-radius: 2px;
    cursor: pointer;
}

.blue{
    background-color: #1B2437;
}

.blue:checked{
    background-color: #1B2437;
    border: none;
}

.green{
    background-color: #127681;
}

.green:checked{
    background-color: #127681;
    border: none;
}

.cgreen{
    background-color: #32E0C4;
}

.cgreen:checked{
    background-color: #32E0C4;
    border: none;
}

.colorbox:checked {
    height: 34px;
    width: 34px;
}

.colorcheckbox {
    display: flex;
    gap: 1rem;
}

/* TOP BAR END */


/* SECTION SHOPPING CARDS START */

.ShoppingCardsSec {
    padding-bottom: 4rem;
}

.ShoppingCardsSec .cardBody {
    margin: 4rem 0;
}

.ShoppingCardsSec .cardContent h3 {
    font-size: 30px;
}

.ShoppingCardsSec .cardContent p {
    font-size: 16px;
    margin-bottom: 32px;
    height: 65px;
}


.left_Shopping{
    position: absolute;
    bottom: 0%;
    left: 0%;
    font-size: 25px;
    height: 35px;
    width: 35px;
    background-color: #fff;
    color: #b5b5b5;
    border-radius: 15%;
    z-index: 99;
    text-align: center;
    line-height: 1.3;
    border: 2px solid #fff;
}

.right_Shopping{
    position: absolute;
    bottom: 0%;
    right: 0%;
    font-size: 25px;
    height: 35px;
    width: 35px;
    background-color: #fff;
    color: #b5b5b5;
    border-radius: 15%;
    z-index: 99;
    text-align: center;
    line-height: 1.3;
    border: 2px solid #fff;
}

/* .ShoppingPageSlider .slick-dots {
    position: absolute;
    bottom: 0;
} */


.ShoppingPageSlider .slick-dots {display: flex;justify-content: center;width: 100%;gap: 1rem;}

.ShoppingPageSlider ul li button {
    background: transparent;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.ShoppingPageSlider ul .slick-active {
    background: pink;
    border-radius: 8px;
}


/* FOOTER SHOPPING SECTION */

footer h4 {
    margin-bottom: 2rem;
}

.footercol4 ul li {
    margin-bottom: 1rem;
}

.emailsearch {
    background: none;
    width: 267px;
    height: 44px;
    border-radius: 8px;
    border: 2px solid #E5E5EA;
    padding-left: 1rem;
}

.searchfooter {
    display: flex;
}

.searchbutton {
    background: pink;
    border: none;
    padding: 2px 15px;
    transform: translateX(-7px);
    border-radius: 8px;
}
.sectionFoot {
    background: #fff;
    padding: 3rem;
}
.abc{
    margin-top: 0;
}


/* PRODUCTS PAGE  */

.rating {
    display: flex;
    gap: 1rem;
    margin-bottom: 32px;
}

.productButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productBtn {
    width: 96px;
    height: 32px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #E5E5EA;
    font-weight: bold;
    border: none;
}

.productButton .fa-heart {
    width: 44px;
    height: 44px;
    background-color: #ffc0cb70;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDA3B5;
    border-radius: 50%;
}

.ProductHeading h2 {
    font-size: 48px;
    margin-top: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}

.rating .fa-star {
    color: #F4A2B6;
}

.rating .greystar{
    color: #C7C7CC;
}

.productDetails ul {width: 100%;justify-content: start;display: flex;flex-direction: row;}

.productDetails ul li {
    width: 33.33%;
    text-align: center;
}

.productDetails ul li .active {
    background: transparent !important;
}

.productDetails ul li .active {
    border-bottom: 1px solid pink !important;
    border: none;
    color: pink !important;
}

.productOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
}

.sizeguide{
    color: #F4A2B6;
}

.ProductButton .btn {
    border: 2px solid #EDA3B5;
    color: #EDA3B5;
    padding: 9px 25px;
    border-radius: 35px;
    font-size: 20px;
    font-weight: 500;
}

.ProductButton .btn:hover {
    background: #EDA3B5;
    color: #fff;
}


.ProductButton {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}


.ImgProduct img {
    margin: 0 auto;
}


.smallImgsSlider {
    margin-top: 3rem;
}

.productSliderImgs img {
    padding: 1rem;
    transition: 0.75s all;
    height: 160px;
    margin: 0 auto;
}

.smallImgsSlider .productSliderImgs .slick-current img {
    padding: 0;
}

.smallImgsSlider .slick-current img {
    padding: 0;
    margin: 0 auto;
}

.ProductPageSlider{position: relative;}


.ProductPageSlider .slick-prev {visibility: hidden;position: absolute;top: 40%;left: -10%;}

.ProductPageSlider .slick-prev::after {
    content: "\f060";
    font-family: 'FontAwesome';
    visibility: visible;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    color: #eda3b5;
    background-color: #fadee3;
}

.ProductPageSlider .slick-next {visibility: hidden;position: absolute;top: 40%;right: 10%;}

.ProductPageSlider .slick-next::after {
    content: "\f061";
    font-family: 'FontAwesome';
    visibility: visible;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    color: #eda3b5;
    background-color: #fadee3;
}

.smallImgsSlider{position: relative;}

.smallImgsSlider .slick-prev {visibility: hidden;position: absolute;left:0; bottom: -50%;}

.smallImgsSlider .slick-prev::after {
    content: "\f060";
    font-family: 'FontAwesome';
    visibility: visible;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    color: #eda3b5;
    background-color: #fadee3;
}

.smallImgsSlider .slick-next {visibility: hidden;position: absolute;right: 0;bottom: -50%;}

.smallImgsSlider .slick-next::after {
    content: "\f061";
    font-family: 'FontAwesome';
    visibility: visible;
    font-size: 24px;
    border-radius: 50%;
    padding: 7px;
    color: #eda3b5;
    background-color: #fadee3;
}


/* CART SECTION CSS */

.sectionCart .container {
    max-width: 100%;
    padding: 0;
}

.cartTitle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.cartTitle li {
    padding: 1rem;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.cartTitle li a {
    color: #D1D1D6;
    font-size: 20px;
    font-weight: bold;
}

.cartTitle .active {
    border-color: #EDA3B5;
}

.cartTitle .active a {
    color: black;
}


.cartButtons{
    padding: 0 3rem;
}

.cartButtons .btn {
    margin: 24px 32px;
    padding: 15px 43px;
    height: 52px;
    width: 162px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
}

.cartButtons {
    display: flex;
    justify-content: space-between;
}

.btn1 {
    color: #EDA3B5;
    border-color: #EDA3B5 !important;
}

.btn1:hover {
    color: #fff;
    background: #EDA3B5;
}

.btn2 {
    color: #fff;
    background: #EDA3B5;
    border-color: #EDA3B5 !important;
}

.btn2:hover {
    background: #fff;
    color: #EDA3B5;
}

.cartDescription h3 {
    font-size: 24px;
    margin-bottom: 16px;
}


.cartDescription p {
    color: #8E8E93;
}

.cartDescription .size {
    color: black;
    margin-right: 8px;
}

.cartDescription {
    margin-left: 32px;
}

.clr {
    width: 16px;
    height: 16px;
    display: flex;
    border-radius: 2px;
}

.cartColor {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.blue {
    background: #1B2437;
    margin-right: 8px;
}

.yellow {
    background: #F3C623;
}

.cartCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cartCounter p {
    font-size: 20px;
    font-weight: bold;
    color: #D1D1D6;
}

.cartCounter .counterBtn {
    width: 44px;
    height: 44px;
    font-size: 24px;
    border-radius: 16px;
    color: #ccc;
    background: transparent;
    border: 2px solid #D1D1D6;
}

.fa-xmark {
    color: #D1D1D6;
    font-size: 24px;
}

tr {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid #ccc;
}

table {
    width: 100%;
}

tbody {
    width: 100%;
}

.cartwrapper {
    background-color: #fff;
}

.column1 {display: flex;align-items: start;width: 515px;}

.column3 {
    display: flex;
    align-items: center;
}

.column3 .fa {
    margin-left: 5rem;
}

.tableSec {
    padding: 0 3rem;
}

.TotalPrice {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    padding: 1rem 9rem;
    background: #f6f6f6;
}
/* CART SECTION END */

/* CHECKOUT SECTION START */

.sectionCheckout .container {
    max-width: 100%;
    padding: 0;
}


.cardDetails {
    background: #eda3b5;
    border-radius: 16px;
    padding: 1rem;
    margin: 0;
}

.CardInput {
    display: flex;
    justify-content: space-between;
}

.CardInput .cardNo {
    background: #ffffff1f;
    width: 68px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: center;
}

.cardNo::placeholder {
    color: #Fff;
}

.cardDetails label {
    color: #fff;
}


.expiryDate .cardNo {
    width: 68px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 8px;
    background: transparent;
    text-align: center;
}

.cardFoot {display: flex;justify-content: space-between;margin-top: 4rem;}

.expiryDate {
    display: flex;
    flex-direction: column;
}

.CreditCard .row {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.icons ul {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.icons {
    background-color: #f6f6f6;
    padding: 1rem;
}
/* CHECKOUT SECTION END */


/* SHIPPING SECTION START */
.sectionShipping .container {
    max-width: 100%;
}

.form .row {
    display: flex;
    justify-content: center;
}

.form-row {
    margin: 1rem 0;
}

.doneContent {
    text-align: center;
    padding: 2rem 0;
}

.doneShipping .row {
    justify-content: center;
}

.doneContent h2 {
    font-size: 34px;
    margin-bottom: 1rem;
}

.doneContent .doneBtn {
    background: #eda3b5;
    border: 1px solid #eda3b5;
    width: 170px;
    color: #fff;
    font-size: 19px;
    margin-top: 3rem;
    height: 52px;
    border-radius: 16px;
}

/* PRODUCT 2 CSS */
#more {display: none;}

.product2 {
    padding: 5rem 0;
}

.product2Content h1 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 22px;
}

.product2Content p {
    font-size: 16px;
    color: #8E8E93;
    margin-bottom: 22px;
}

.product2Content #myBtn {
    border: none;
    color: #48484A;
    background: transparent;
    font-size: 16px;
    margin-bottom: 22px;
}

main.productwrapper {
    background: #fff;
}

.card-header {
    background-color: #fff;
    border: none !important;
    padding-left: 0;
    padding-right: 0;
}

.card-header .btn {
    color: #000;
    padding-left: 0;
    padding-right: 0;
}

.card-header .btn:hover {
    text-decoration: none;
}

.card {
    border: none;
    border-bottom: 1px solid #ccc;
}

#accordion {
    border-top: 1px solid #ccc;
}

.card-body {
    padding: 1rem 0;
}

.product2foot {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    gap: 3rem;
}

.product2foot .product2Btn {
    padding: 16px 32px;
    background: #48484A;
    color: #fff;
    border-radius: 16px;
    border: none;
    font-size: 20px;
}




.hover {
    height: 213px;
    width: 334px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxOrange {
    border: 3px solid black;
    height: 45px;
    width: 30px;
}

.hover p {
    text-align: center;
    padding: 10px 15px;
}

section.hoverBox {
    padding: 3rem 0;
}





























section.proSec {
    padding: 5rem 0;
}
.product {
position: relative;
border-radius: 1.5rem;
overflow: hidden;
}

.proOverlay {position: absolute;bottom: 0;left: 0;width: 100%;background: #fff;padding: 1rem 1rem 1rem 5rem;transition: 1s all;}
.proOverlay:before {
position: absolute;
top: 50%;
left: 10%;
width: 10%;
height: 4px;
background: #000;
content: "";
}
.proOverlay li {
font-size: 20px;
text-transform: capitalize;
font-weight: 700;
}
.proOverlay ul li:last-child {
opacity: 0;
}
.product:hover .proOverlay {background: transparent;padding: 1rem;transition: 1s all;}
.product:hover .proOverlay:before {
opacity: 0;
}
.product:hover .proOverlay ul li:last-child {
opacity: 1;
}
.product:before {position: absolute;top: 0;left: 0;background: linear-gradient(181deg, red, #ffffff85);width: 100%;height: 100%;content: "";opacity: 0;transition: 0.5s all;}

.product:hover:before {
opacity: 1;
}


.list {
    display: flex !important;
    gap: 2rem !important;
}
